#navbar {
    background-color: grey; 
    list-style-type: none;
    text-align: center;
  }
  
.semesters li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    padding-bottom: 1.1em;
    height: 75x;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    transform: scale(1.15);
}

.semesters {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: grey;
}

.hometab a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}

.hometab a:hover:not(.active) {
    transform: scale(1.15);
}

#demo-for-homescreen {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    padding-top: 50px;
    text-transform: uppercase;
}

#demo-for-homescreen :hover:not(.active) {
    transform: scale(1.02);
}

#articlemain {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    height: 480px; 
}

#articlefall19, 
#articlesummer19,
#articlespring19,
#articlefall20,
#articlesummer20,
#articlespring20 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 95%;
    background-color: #f1f1f1;
    margin-top: 3.5%;
    height: 480px; 
}

#school-name-course-information {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(78, 74, 74);
    text-align: center;
    font-size: 25px;
}

#descriptionwidth {
    width: 50%;
    font-size: 15px;
}

#titlewidth {
    width: 22%;
}

table {
    height: 83%;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#fall-2020-classes {
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
    padding-top: 130px;
    text-transform: uppercase;
}

#fall-2020-classes:hover:not(.active) {
    transform: scale(1.02);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 49, 49);
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}