#navbar {
    background-color: grey; 
    list-style-type: none;
    text-align: center;
  }
  
.semesters li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
    padding-bottom: 1.1em;
    height: 75x;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

li a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    transform: scale(1.15);
}

.semesters {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: grey;
}

.hometab a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 40px;
}

.hometab a:hover:not(.active) {
    transform: scale(1.15);
}

#articlemain {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    height: 480px; 
}

#articlefall19 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    margin-top: 3%;
    height: 480px; 
}

#articlesummer19 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    margin-top: 3%;
    height: 480px; 
}

#articlespring19 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    margin-top: 3%;
    height: 480px; 
}

#articlefall20 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    margin-top: 3%;
    height: 480px; 
}

#articlesummer20 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    margin-top: 3%;
    height: 480px; 
}

#articlespring20 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    float: center;
    padding: 10px;
    width: 80%;
    background-color: #f1f1f1;
    margin-top: 3%;
    height: 480px; 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 49, 49);
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}